
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
}

a{
	padding: 20px 50px;
	color: #fff;
	background-color: rgb(64, 167, 222);
	border-radius: 8px;
}